@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

.markdown-body {
  color: var(--foreground);
}

.markdown-body h1{
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5em;
}
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  font-weight: 700;
  line-height: 1.2;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.markdown-body h1 {
  font-size: 1.5em;
}

.markdown-body h2 {
  font-size: 1.5em;
  padding-bottom: 0.3em;
}

.markdown-body h3 {
  font-size: 1.25em;
}

.markdown-body h4 {
  font-size: 1em;
}

.markdown-body p,
.markdown-body blockquote,
.markdown-body table {
  margin-bottom: 1rem;
}

.markdown-body a {
  color: var(--primary);
  text-decoration: underline;
  transition: color 0.3s;
}

.markdown-body strong {
  font-weight: 700;
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 2em;
  margin-bottom: 1rem;
}

.markdown-body li {
  margin-bottom: 0.4rem;
}

.markdown-body ul li:not(:has(input[type="checkbox"])) {
  list-style-type: disc;
}

.markdown-body ol {
  list-style-type: decimal;
}

.markdown-body li>p {
  margin-bottom: 0.25rem;
}

.markdown-body code {
  border-radius: 0.3rem;
  background-color: #e8e8e8c7;
  padding: 0.15rem 0.375rem;
  font-family: "JetBrains Mono", monospace;
  font-size: 0.875em;
}

.markdown-body pre {
  background-color: #f5f5f5;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  overflow-x: auto;
  border: 1px solid #e6e6e6;
}

.markdown-body pre code {
  background-color: transparent;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
}

.markdown-body blockquote {
  border-left: 4px solid #c2c2c2;
  padding: 0.5rem 1rem;
  background-color: #f5f5f5;
  color: #555;
}

.markdown-body blockquote p:last-child {
  margin-bottom: 0;
}

.markdown-body hr {
  border: none;
  border-top: 1px solid var(--border);
  margin: 2rem 0;
}

.markdown-body table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid var(--border);
  border-radius: 5px;
  overflow: hidden;
  margin: 30px 0px;
}

.markdown-body table th,
.markdown-body table td {
  border-bottom: 1px solid var(--border);
  padding: 0.75rem;
  text-align: left;
}

.markdown-body table th {
  background-color: var(--border);
  color: var(--accent-foreground);
  font-weight: 600;
  white-space: nowrap;
}



.markdown-body table tr:last-child td {
  border-bottom: none;
}





.markdown-body img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin: 1.5rem 0;
}