.markdown-body {
  color: var(--color-foreground);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  line-height: 1.2;
  letter-spacing: var(--tracking-tight);
  color: var(--color-foreground);
  font-weight: 700;
}

.markdown-body h1 {
  font-size: 2em;
  padding-bottom: 1.3em;
  letter-spacing: var(--tracking-tighter);
}

.markdown-body h2 {
  font-size: 1.5em;
  padding-bottom: 0.3em;
}

.markdown-body h3 {
  font-size: 1.25em;
  padding-bottom: 1.3em;
}

.markdown-body h4 {
  font-size: 1.1em;
  padding-bottom: 1.3em;
}

.markdown-body h5 {
  font-size: 1em;
  padding-bottom: 1.3em;
}

.markdown-body h6 {
  font-size: 0.9em;
  padding-bottom: 1.3em;
}

.markdown-body p,
.markdown-body table {
  margin-bottom: 1rem;
  color: var(--color-foreground);
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 2em;
  margin-bottom: 1rem;
}

.markdown-body li {
  margin-bottom: 0.4rem;
}

.markdown-body ul li:not(:has(input[type="checkbox"])) {
  list-style-type: disc;
}

.markdown-body ol {
  list-style-type: decimal;
}

.markdown-body li>p {
  margin-bottom: 0.25rem;
  font-size: 1em;
}

@media (max-width: 640px) {

  .markdown-body p,
  .markdown-body table,
  .markdown-body ul,
  .markdown-body ol {
    font-size: 1.1em;
  }
}

.markdown-body a {
  text-decoration: underline;
  transition: color 0.3s;
}

.markdown-body strong {
  /* letter-spacing: var(--tracking-tight); */
  color: var(--color-foreground);
  font-weight: 700;
}

.markdown-body code {
  border-radius: 0.3rem;
  background-color: var(--color-border);
  color: var(--color-border-foreground);
  padding: 0.15rem 0.375rem;
  font-family: var(--font-jetbrains-mono), monospace;
  font-size: 0.875em;
}

.markdown-body pre {
  display: none;
  background-color: var(--color-border);
  color: var(--color-card-foreground);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--radius-md);
  overflow-x: auto;
  border: 1px solid var(--color-border);
}

.markdown-body pre code {
  background-color: transparent;
  padding: 0;
  color: var(--color-card-foreground);
  font-family: var(--font-jetbrains-mono), monospace;
}

.markdown-body blockquote {
  margin: 3rem 0px;
  padding: 0.5rem 1rem 1.4rem 1rem;
  background-color: var(--color-border);
  color: var(--color-border-foreground);
  border-radius: var(--radius-sm);
  font-size: 1.1em;
}

.markdown-body blockquote p {
  font-size: 1em;
}

.markdown-body blockquote p:last-child {
  margin-bottom: 0;
}

.markdown-body hr {
  border: none;
  border-top: 1px solid var(--color-border);
  margin: 2rem 0;
}

.markdown-body .table-wrapper {
  overflow-x: auto;
  width: 100%;
  margin: 30px 0;
  border-radius: var(--radius-lg);
  border: 1px solid var(--color-border);
}
.markdown-body table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: var(--radius-lg);
  table-layout: auto;
  word-break: break-word;
}

.markdown-body table th,
.markdown-body table td {
  border-bottom: 1px solid var(--color-border);
  padding: 0.75rem;
  text-align: left;
  vertical-align: top;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 1em;
}

.markdown-body table th {
  background-color: var(--color-border);
  color: var(--color-border-foreground);
  font-weight: 600;
}

.markdown-body table tr:last-child td {
  border-bottom: none;
}

.markdown-body img {
  max-width: 100%;
  height: auto;
  border-radius: var(--radius-2xl);
  border: 1px solid var(--color-border);
  margin: 1.5rem 0;
}