code {
    font-family: "JetBrains Mono", monospace !important;
}

/* Default (for larger screens like desktops) */
@media (min-width: 1025px) {
    h1 {
        font-size: 3em;
        font-weight: bold;
        line-height: 3rem;
        letter-spacing: -0.04em;
    }

    h2 {
        font-size: 2em;
        font-weight: bold;
        line-height: 2.3rem;
        letter-spacing: -0.04em;
    }

    h3 {
        font-size: 1.6em;
        font-weight: bold;
        line-height: 2rem;
        letter-spacing: -0.04em;
    }

    h4 {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: bold;
        letter-spacing: -0.04em;
    }

    h5 {
        font-size: 1.125rem;
        line-height: 1.75rem;
        letter-spacing: -0.04em;
    }

    p {
        font-size: 0.85rem;
        line-height: 1.3rem;
        font-weight: normal;
    }
}

/* Tablet (between 768px and 1024px) */
@media (max-width: 1024px) {
    h1 {
        font-size: 2.5em;
        line-height: 2.5rem;
        font-weight: bold;
    }

    h2 {
        font-size: 1.8em;
        line-height: 2.1rem;
        font-weight: bold;
    }

    h3 {
        font-size: 1.4em;
        line-height: 1.9rem;
        font-weight: bold;
    }

    h4 {
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-weight: bold;
    }

    h5 {
        font-size: 1rem;
        line-height: 1.6rem;
        font-weight: normal;
    }

    p {
        font-size: 0.75rem;
        line-height: 1.3rem;
        font-weight: normal;
    }
}

/* Mobile (below 768px) */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
        line-height: 2.2rem;
        font-weight: bold;
    }

    h2 {
        font-size: 1.5em;
        line-height: 2rem;
        font-weight: bold;
    }

    h3 {
        font-size: 1.2em;
        line-height: 1.8rem;
        font-weight: bold;
    }

    h4 {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: bold;
    }

    h5 {
        font-size: 0.9rem;
        line-height: 1.4rem;
        font-weight: normal;
    }

    p {
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: normal;
    }
}