@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

.markdown-body {
  color: var(--foreground);
}

.markdown-body h1 a,
.markdown-body h2 a,
.markdown-body h3 a,
.markdown-body p a {
  color: var(--primary);
  text-decoration: underline;
  transition: color 0.3s;
}

.markdown-body h1 {
  @apply text-2xl font-bold;
}

.markdown-body h2 {
  @apply text-2xl font-bold;
}

.markdown-body h3 {
  @apply text-2xl font-bold;
}

.markdown-body h4 {
  @apply text-base font-bold;
}

.markdown-body h5 {
  @apply text-sm font-bold md:text-base;
}

.markdown-body h6 {
  @apply text-xs font-bold md:text-sm;
}

.markdown-body h1 strong,
.markdown-body h2 strong,
.markdown-body h3 strong,
.markdown-body h4 strong,
.markdown-body h5 strong,
.markdown-body h6 strong {
  font-weight: 700;
}

.markdown-body h1 strong u,
.markdown-body h2 strong u,
.markdown-body h3 strong u,
.markdown-body h4 strong u,
.markdown-body h5 strong u,
.markdown-body h6 strong u {
  text-decoration: underline !important;
}

.markdown-body h1 u,
.markdown-body h2 u,
.markdown-body h3 u,
.markdown-body h4 u,
.markdown-body h5 u,
.markdown-body h6 u {
  text-decoration: underline !important;
}

.markdown-body p,
.markdown-body span,
.markdown-body div {
  font-size: 1rem;
  line-height: 1.6;
}

.markdown-body p {
  margin-bottom: 1rem;
}

.markdown-body em {
  font-style: normal;
}

.markdown-body strong {
  font-size: 1.2rem;
  font-weight: bold;
}

.markdown-body del {
  color: var(--muted-foreground);
  text-decoration: line-through;
}

.markdown-body code {
  border-radius: 0.3rem;
  background-color: var(--accent);
  color: var(--accent-foreground);
  padding: 0.15rem 0.375rem;
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  font-size: 0.85em;
}

.markdown-body ul,
.markdown-body ol {
  padding: 0;
  margin: 0 0 1rem 0;
}

.markdown-body li>p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.markdown-body li>p+p {
  margin-block-start: 0.25rem;
}

.markdown-body ul li strong,
.markdown-body ol li strong {
  display: block;
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 0.25rem;
}

.markdown-body ul li p input[type="checkbox"] {
  margin-right: 15px;
  margin-left: 20px;
}

.markdown-body ul li p input[type="checkbox"]:checked {
  background-color: var(--primary);
}

.markdown-body ul li p input[type="checkbox"]:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.markdown-body ul li,
.markdown-body ol li {
  margin-bottom: 1rem;
}

.markdown-body ul li:not(:has(input[type="checkbox"])) {
  list-style-type: disc;
  padding-left: 10px;
  margin-left: 40px;
}

.markdown-body ol {
  list-style-type: decimal;
}

.markdown-body ol li {
  padding-left: 10px;
  margin-left: 20px;
}

.markdown-body blockquote {
  border-left: 4px solid var(--border);
  margin: 20px 0;
  padding: 6px 20px;
  background-color: var(--muted);
}

.markdown-body blockquote p {
  margin: 0;
  color: var(--muted-foreground);
}

.markdown-body pre {
  background-color: var(--popover);
  padding: 15px;
  margin: 20px 0;
  border-radius: var(--radius);
  overflow-x: auto;
  line-height: 1.5;
  border: 1px solid var(--border);
}

.markdown-body pre code {
  color: var(--popover-foreground);
  background-color: transparent;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
}

.markdown-body pre code .keyword {
  color: var(--secondary);
}

.markdown-body pre code .string {
  color: var(--chart-1);
}

.markdown-body pre code .comment {
  color: var(--muted-foreground);
}

.markdown-body p img {
  border-radius: var(--radius);
  width: 100%;
  height: auto;
  display: block;
}

.markdown-body hr {
  border: none;
  border-top: 1px solid var(--border);
  margin: 2rem 0;
}

.markdown-body table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  border-radius: var(--radius);
  overflow: hidden;
}

.markdown-body table th,
.markdown-body table td {
  border: 1px solid var(--border);
  padding: 0.75rem;
  text-align: left;
  font-size: 16px;
}

.markdown-body table th {
  background-color: var(--accent);
  color: var(--accent-foreground);
  font-weight: 600;
}

.markdown-body br {
  content: "";
  display: block;
  margin-bottom: 1rem;
}