.laser-flow-container {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  position: absolute;
  pointer-events: none;
}

/* Extra small (phones, <640px) */
@media (max-width: 639px) {
  .laser-flow-container {
    height: 80%;
  }
}

/* Small (sm: ≥640px) */
@media (min-width: 640px) and (max-width: 767px) {
  .laser-flow-container {
    height: 80%;
  }
}

/* Medium (md: ≥768px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .laser-flow-container {
    height: 90%;
  }
}

/* Large (lg: ≥1024px) */
@media (min-width: 1024px) and (max-width: 1279px) {
  .laser-flow-container {
    height: 130%;
  }
}

/* Extra Large (xl: ≥1280px) */
@media (min-width: 1280px) and (max-width: 1535px) {
  .laser-flow-container {
    height: 130%;
  }
}

/* 2XL (≥1536px) */
@media (min-width: 1536px) {
  .laser-flow-container {
    height: 130%;
  }
}